<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1 style="font-family:monotype carsiva;color:rgb(255, 0, 0);">
   <center>Welcome to GST Billing App!</center> 
  </h1>
</div><center>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-vrCp0Slch7HuHIIjj54FrhiEe64kiJYL0N6idopLHIKyHfPk"width="500" height="500">
</center>
<h2>Options are available: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="app.add.html">Add product</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="app.bill.html">Billing</a></h2>
  </li>
</ul>

